<div>
        <h2>New todo</h2>
        <div class="form-group">
                <label>Name</label>
                <input type="text" [(ngModel)]="todo.name" class="form-control"  />
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" [(ngModel)]="todo.desc" class="form-control" />
            </div>
        <div class="form-group">
            <input type="button" value="Add" (click)="add(todo)" class="btn btn-success" />
        </div>
        <a routerLink=".." class="btn btn-warning">Back</a>
    </div>