<h2>Todos</h2>
<div>
    <a routerLink="/create" class="nav-link">Добавить</a>
</div>
<!--<button class="btn btn-primary" (click)="ToDoAdd(todo.name)">Add</button>-->
<table class="table">
  <thead>
  <tr>
    <th>Complete</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let todo of activeTodos">
    <td width="2px" align="center">
    <input class="toggle" type="checkbox" (click)="ToDoComplete(todo.id)" [checked]="todo.check">
    </td>
    <td>{{todo.name}}</td>
    <td>{{todo.desc}}</td>
  </tr>
  </tbody>
</table>
<h3>Completed</h3>
<table class="table">
  <thead>
  <tr>
    <th>Complete</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let todo of completedTodos">
    <td width="2px" align="center">
    <input class="toggle" type="checkbox" (click)="ToDoComplete(todo.id)" [checked]="todo.check"></td>
    <td>{{todo.name}}</td>
    <td>{{todo.desc}}</td>    
  </tr>
  </tbody>
</table>
